<!DOCTYPE html>
<html>
  <head>
    <title>books</title>
  </head>
  <body>
    <h1>Books</h1>
    <% @library.books.uniq(&:title).map do |book| %>
      <%= book.title %>
      <br>
      <br>
    <% end %>
    <a href="/">BACK TO MAIN</a>
  </body>
</html>
