<!DOCTYPE html>
<html>
  <head>
    <title>WEB page</title>
  </head>
  <body>
    <a href="/authors">Authors<a>
    <br>
    <a href="/books">Books<a>
    <br>
    <a href="/readers">Readers<a>
    <br>
    <a href="/orders">Orders<a>
  </body>
</html>
